# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json


# Import API key
from config import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [4]:
city_data = pd.read_csv("../WeatherPy/Outputs/city_data.csv")
city_data

,City,Latitude,Longitude,Temperature,Humidity,Cloudiness,Wind Speed,Country,Date
0,Maniwaki,46.38,-75.97,42.48,80,54,9.75,CA,1602376861
1,Guerrero Negro,27.98,-114.06,70.52,80,0,17.47,MX,1602376996
2,Comodoro Rivadavia,-45.87,-67.50,51.80,62,0,3.36,AR,1602376942
3,Egvekinot,66.32,-179.17,31.17,93,69,15.17,RU,1602376996
4,Hailar,49.20,119.70,33.15,89,100,20.29,CN,1602376997
...,...,...,...,...,...,...,...,...,...
657,Marrakesh,31.63,-8.01,75.20,47,20,2.24,MA,1602377153
658,Abomey,7.18,1.99,72.10,98,91,4.12,BJ,1602377154
659,Havøysund,71.00,24.66,44.60,100,100,16.11,NO,1602377154
660,Mīzan Teferī,6.98,35.58,59.90,91,69,1.99,ET,1602377154
661,Gold Coast,-28.00,153.43,76.30,50,0,10.29,AU,1602377120

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure