# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json


# Import API key
from config import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
city_data = pd.read_csv("../WeatherPy/Outputs/city_data.csv")
city_data

,City,Latitude,Longitude,Temperature,Humidity,Cloudiness,Wind Speed,Country,Date
0,Maniwaki,46.38,-75.97,42.48,80,54,9.75,CA,1602376861
1,Guerrero Negro,27.98,-114.06,70.52,80,0,17.47,MX,1602376996
2,Comodoro Rivadavia,-45.87,-67.50,51.80,62,0,3.36,AR,1602376942
3,Egvekinot,66.32,-179.17,31.17,93,69,15.17,RU,1602376996
4,Hailar,49.20,119.70,33.15,89,100,20.29,CN,1602376997
...,...,...,...,...,...,...,...,...,...
657,Marrakesh,31.63,-8.01,75.20,47,20,2.24,MA,1602377153
658,Abomey,7.18,1.99,72.10,98,91,4.12,BJ,1602377154
659,Havøysund,71.00,24.66,44.60,100,100,16.11,NO,1602377154
660,Mīzan Teferī,6.98,35.58,59.90,91,69,1.99,ET,1602377154
661,Gold Coast,-28.00,153.43,76.30,50,0,10.29,AU,1602377120

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# taken from banking_desert activity
# configure gmaps with API key
gmaps.configure(api_key =g_key)

# Store lat/long into locations
locations = city_data[['Latitude', 'Longitude']]

# Store humidity as weight
weight = city_data['Humidity']

In [7]:
# Plot heatmap
fig = gmaps.figure()

heat_layer=gmaps.heatmap_layer(locations, weight, dissipating=False, max_intensity=100, point_radius=2)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [8]:
# Narrow cities with A max temperature lower than 80 degrees but higher than 70, Wind speed less than 10 mph,Zero cloudiness.
# Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.

weather_criteria_df = city_data.loc[(city_data['Wind Speed']<=10) & (city_data['Cloudiness']==0) & \
                                    (city_data['Temperature']>=75) & (city_data['Temperature']<=80)]


weather_criteria_df

,City,Latitude,Longitude,Temperature,Humidity,Cloudiness,Wind Speed,Country,Date
74,Gwadar,25.12,62.33,79.86,40,0,9.44,PK,1602377013
145,Vilhena,-12.74,-60.15,79.16,42,0,2.08,BR,1602377030
169,Tura,25.52,90.22,76.93,92,0,1.74,IN,1602376805
183,Mogadishu,2.04,45.34,78.75,83,0,7.43,SO,1602376943
198,Port Macquarie,-31.43,152.92,77.59,31,0,1.01,AU,1602377021
248,Amapá,1.00,-52.00,78.03,68,0,6.89,BR,1602377054
257,Sohag,26.56,31.69,78.80,47,0,5.82,EG,1602377056
306,Bosaso,11.28,49.18,78.19,62,0,6.91,SO,1602377068
407,Nioro,13.35,-15.75,75.90,93,0,4.76,GM,1602377090
427,Jieshi,22.81,115.83,75.99,78,0,8.46,CN,1602377095
505,Nelson Bay,-32.72,152.15,76.24,28,0,8.05,AU,1602377116

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure